@charset "UTF-8";

/*
verde: #49a09d
Lilas: #5f2c82
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body,html{
  background-color: #146296;
    width: 100vw;
    height: 100vh;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 350px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
}
section#login > div#imagem{
    display: block;
background: #146296 url(../imagens/imgcomputador.jpg);
height: 200px;
background-size: cover;
background-repeat: no-repeat;
}
section#login > div#formulario{
    padding: 10px;
    display: block;
    
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}
form > div.campo{
    background-color: #1e86cc;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 5px 10px 10px 0px;
    text-align: center;
}
div.campo > label{
    display: none;
}
form > input[type=submit]{
   
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #146296;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
}
form > input[type=submit]:hover{
    background-color: #0e4366;
}
form > input[type=button]{
   
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    color: #146296;
    border-radius: 10px;
    cursor: pointer;
    margin-top:5px ; 
}
form > input[type=button]:hover{
    background-color: #0e4366;
    color: #ffffff;
}
span.material-symbols-outlined{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo > input{
    font-size: 1em;
    border: 0px;
    border-radius: 10px;
    padding: 4px;
    width:calc(100% - 50px);
    height: 90%;
    transform: translateY(-12px);
}
